{{define "title"}}vote{{end}}

{{define "scripts"}}<script src="https://cdn.clacksy.com/file/clacksy/js/htmx.min.js" defer></script>{{end}}

{{define "main"}}
  <div class="grid grid-cols-1 gap-4 lg:gap-6 md:grid-cols-2 px-4 sm:px-0">
    {{range .PageData.SoundTests}}
      <div class="px-4 md:px-6 lg:px-8 py-5 rounded-lg bg-white shadow-sm border border-gray-300">
        <div class="flex flex-col gap-y-4">
          <div class="flex space-between items-center">
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-900">{{.TotalVotes}}</p>
              <p class="text-sm font-medium text-pink-500">@{{.CreatedBy}}</p>
              <p class="truncate text-sm text-gray-500">{{humanDate .Uploaded}}</p>
            </div>
            {{template "vote-group" .}}
          </div>
          <audio controls src="https://cdn.clacksy.com/file/clacksy/{{.URL}}">
            Your browser does not support the <code>audio</code> element.
          </audio>
        </div>
      </div>
    {{end}}
  </div>
  <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0 mt-6">
    <div class="-mt-px flex w-0 flex-1">
      {{if ne .PageData.Page 0}}
        <a class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" href="?page={{.PageData.PrevPage}}">
          <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
          </svg>
          Previous
        </a>
      {{end}}
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
      {{if eq .PageData.HasMore true}}
        <a class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" {{if eq .PageData.HasMore false}}disabled{{end}} href="?page={{.PageData.NextPage}}">
          Next
          <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
          </svg>
        </a>
      {{end}}
    </div>
  </nav>
{{end}}
