{{define "title"}}vote{{end}}

{{define "scripts"}}<script src="https://cdn.clacksy.com/file/clacksy/js/htmx.min.js" defer></script>{{end}}

{{define "main"}}
  <div class="grid grid-cols-1 gap-4 lg:gap-6 md:grid-cols-2 px-4 sm:px-0">
    {{range .PageData.SoundTests}}
      <div class="px-4 md:px-6 lg:px-8 py-5 rounded-lg bg-white shadow-sm border border-gray-300">
        <div class="flex flex-col gap-y-4">
          <div class="flex space-between items-center">
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-900">{{.TotalVotes}}</p>
              <p class="text-sm font-medium text-pink-500">@{{.CreatedBy}}</p>
              <p class="truncate text-sm text-gray-500">{{humanDate .Uploaded}}</p>
            </div>
            {{template "vote-group" .}}
          </div>
          <audio controls src="https://cdn.clacksy.com/file/clacksy/{{.URL}}">
            Your browser does not support the <code>audio</code> element.
          </audio>
        </div>
      </div>
    {{end}}
  </div>
{{end}}