{{ define "layout" }}
  <!DOCTYPE html>
  <html class="h-full bg-gray-100" lang="en">
    <head>
      <meta charset="utf-8" />
      <title>{{ template "title" . }} - clacksy</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta property="og:title" content="" />
      <meta property="og:type" content="" />
      <meta property="og:url" content="" />
      <meta property="og:image" content="" />

      <link
        rel="icon"
        href="{{ .PublicPath }}/favicon.ico"
        type="image/x-icon"
      />
      <link href="{{ .PublicPath }}/css/main.css" rel="stylesheet" />
      <script src="{{ .PublicPath }}/js/layout.js" defer></script>
      {{ block "scripts" . }}{{end}}
    </head>

    <body class="h-full font-sans antialiased">
      {{ template "nav" . }}
      {{ template "page-header" . }}
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          {{ with .Flash }}
            <div>{{ . }}</div>
          {{ end }}
          {{ template "main" . }}
        </div>
      </main>
    </body>
  </html>
{{ end }}
