{{define "layout"}}
<!doctype html>
<html class="h-full" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{template "title" .}} - clacksy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body class="h-full bg-white font-sans antialiased">
  <header>
    <h1><a href="/">home</a></h1>
  </header>
  {{template "nav" .}}
  <main>
    {{template "main" .}}
  </main>
</body>

</html>
{{end}}