{{ define "auth-header" }}
  <div>
    <div class="h-8 w-8 rounded-full bg-gray-300"></div>
    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
      {{ template "header-title" . }}
    </h2>
    <p class="mt-2 text-sm text-gray-600">
      Or
      <a
        class="font-medium text-pink-600 hover:text-pink-500"
        href="{{ template "header-link" . }}"
      >
        {{ template "header-subtitle" . }}
      </a>
    </p>
  </div>
{{ end }}
