{{ define "nav" }}
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <div class="h-8 w-8 rounded-full bg-pink-200"></div>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              {{ if .IsAuthenticated }}
                <a
                  href="/play"
                  {{ if hasPrefix .URLPath "/play" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Play</a>
                <a
                  href="/vote"
                  {{ if eq .URLPath "/vote" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Vote</a>
                <a
                  href="/soundtest/new"
                  {{ if eq .URLPath "/soundtest/new" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Add soundtest</a>
              {{ else }}
                <a
                  href="/"
                  {{ if eq .URLPath "/" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Home</a>
                <a
                  href="/user/new"
                  {{ if eq .URLPath "/user/new" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Sign up</a>
                <a
                  href="/user/login"
                  {{ if eq .URLPath "/user/login" }}
                    class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  {{ else }}
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                  {{ end }}
                  >Sign in</a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ if .IsAuthenticated }}
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <div class="ml-3 relative">
                <div>
                  <button
                    type="button"
                    class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                    id="user-menu-button"
                    aria-haspopup="true"
                  >
                    <span id="user-menu-sr-text" class="sr-only">Open user menu</span>
                    <div class="h-8 w-8 rounded-full bg-gray-400"></div>
                  </button>
                </div>
                <div
                  id="user-menu-list"
                  class="hidden z-10 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu-button"
                  tabindex="-1"
                >
                  <a
                    href="/user"
                    {{ if eq .URLPath "/user" }}
                      class="block px-4 py-2 text-sm text-gray-700 bg-gray-100"
                    {{ else }}
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    {{ end }}
                    role="menuitem"
                    tabindex="-1"
                    >Your profile</a
                  >
                  <form action="/user/logout" method="POST">
                    <button
                      type="submit"
                      class="w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                      role="menuitem"
                      tabindex="-1"
                      >Sign out</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
        <div class="-mr-2 flex md:hidden">
          <button
            id="mobile-menu-btn"
            type="button"
            class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
            aria-controls="mobile-menu"
          >
            <span id="mobile-menu-sr-text" class="sr-only">Open main menu</span>
            <svg
              id="hamburger-icon"
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <svg
              id="mobile-close-icon"
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hidden md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        {{ if .IsAuthenticated }}
          <a
            href="/play"
            {{ if hasPrefix .URLPath "/play" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Play</a>
          <a
            href="/vote"
            {{ if eq .URLPath "/vote" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Vote</a>
          <a
            href="/soundtest/new"
            {{ if eq .URLPath "/soundtest/new" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Add soundtest</a>
        {{ else }}
          <a
            href="/"
            {{ if eq .URLPath "/" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Home</a>
          <a
            href="/user/new"
            {{ if eq .URLPath "/user/new" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Sign up</a>
          <a
            href="/user/login"
            {{ if eq .URLPath "/user/login" }}
              class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            {{ else }}
              class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            {{ end }}
            >Sign in</a>
        {{ end }}
      </div>
      {{ if .IsAuthenticated }}
        <div class="pt-4 pb-3 border-t border-gray-700">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <div class="h-8 w-8 rounded-full bg-gray-400"></div>
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">
                hunter
              </div>
              <div class="text-sm font-medium leading-none text-gray-400">
                hi@0xhjohnson.com
              </div>
            </div>
          </div>
          <div class="mt-3 px-2 space-y-1">
            <a
              href="/user"
              {{ if eq .URLPath "/user" }}
                class="bg-gray-900 block px-3 py-2 rounded-md text-base font-medium text-white"aria-current="page"
              {{ else }}
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700"
              {{ end }}
              >Your profile</a
            >
            <form action="/user/logout" method="POST">
              <button
                type="submit"
                class="w-full text-left px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700"
                >Sign out</button>
            </form>
          </div>
        </div>
      {{ end }}
    </div>
  </nav>
{{ end }}
